If you like the new look that <a
href="http://firinel.livejournal.com/profile">Firinel</a>'s designed for us, or <a href="/joule">Joule</a> in general, please do post about it in a post in your journal or in your userinfo.
Link to http://marnanel.org/joule if you like, or maybe use this code:

<form><textarea rows="10" cols="70">
&lt;form method="get" action="http://marnanel.org/joule"&gt;&lt;table border
bgcolor="#E0FEE0"&gt;&lt;tr&gt;&lt;td align="center"&gt;&lt;font
color="#007700"&gt;Who's friended
you today?&lt;br&gt;&lt;br&gt;&lt;b&gt;Show me the friends of:&lt;/b&gt; &lt;input
maxlength="15" size="15" type="text" name="user"&gt;&lt;br&gt;&lt;br&gt;as a &lt;input
type="submit" name="mode" value="chart"&gt; or &lt;input type="submit"
name="mode" value="graph"&gt;&lt;br&gt;&lt;br&gt;&lt;small&gt;script by &lt;a
href="http://marnanel.org"&gt;marnanel&lt;/a&gt;&lt;/small&gt;&lt;/font&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/form&gt;
</textarea></form>


<br />which produces a box which looks like this:<br /><br />

<form method="get" action="http://marnanel.org/joule"><table border
bgcolor="#E0FEE0"><tr><td align="center"><font color="#007700">Who's friended
you today?<br><br><b>Show me the friends of:</b> <input maxlength="15"
size="15" type="text" name="user"><br><br>as a <input type="submit"
name="mode" value="chart"> or <input type="submit"
name="mode" value="graph"><br><br><small>script by <a
href="http://marnanel.org">marnanel</a></small></font>
</td></tr></table></form>

<br />
If you'd like, we can put together some graphics to link here. Let us know.

