<div class="tealdeer">
<p>If you like the new look that <a
href="http://firinel.org">Firinel</a>'s designed for us,
or <a href="/">Joule</a> in general, please do post about
it in a post in your journal or in your userinfo.</p>

<p>If you want to link to us from Twitter, you can just
<a href="http://twitter.com/home?status=is+using+http://joule.marnanel.org/tw+to+track+my+followers.+%23joule">click here</a>.</p>

<p>If you'd like to link to us from LiveJournal or Dreamwidth,
you could just link to http://joule.marnanel.org if you like,
or maybe use this code:</p>

<form><textarea rows="10" cols="70">
&lt;form method="get" action="http://joule.marnanel.org"&gt;&lt;table border
bgcolor="#E0FEE0"&gt;&lt;tr&gt;&lt;td align="center"&gt;&lt;font
color="#007700"&gt;Who's friended
you today?&lt;br&gt;&lt;br&gt;&lt;b&gt;Show me the friends of:&lt;/b&gt; &lt;input
maxlength="15" size="15" type="text" name="user"&gt;&lt;br&gt;&lt;br&gt;as a &lt;input
type="submit" name="mode" value="chart"&gt; or &lt;input type="submit"
name="mode" value="graph"&gt;&lt;br&gt;&lt;br&gt;&lt;small&gt;script by &lt;a
href="http://marnanel.org"&gt;marnanel&lt;/a&gt;&lt;/small&gt;&lt;/font&gt;
&lt;/td&gt;&lt;/tr&gt;&lt;/table&gt;&lt;/form&gt;
</textarea></form>

<p>which produces a box which looks like this:</p>

<form method="get" action="http://joule.marnanel.org"><table border
bgcolor="#E0FEE0"><tr><td align="center"><font color="#007700">Who's friended
you today?<br><br><b>Show me the friends of:</b> <input maxlength="15"
size="15" type="text" name="user"><br><br>as a <input type="submit"
name="mode" value="chart"> or <input type="submit"
name="mode" value="graph"><br><br><small>script by <a
href="http://marnanel.org">marnanel</a></small></font>
</td></tr></table></form>

<p>If you'd like, we can put together some graphics to link here. Let us know.</p>
</div>

