<div class="tealdeer">

[% FOREACH turn = [0, 1] %]

[% IF NOT turn %]<h2 id="contents">FAQ contents</h2><ul>[% END %]
[% MACRO header(n,t) IF turn %]
<h2 id="[% n %]">[% t %] <a href="#contents">&uarr;</a></h2>
[% ELSE %]
<li>[% t %] <a href="#[% n %]">(Answer)</a></li>
[% END %]

[% header("what", "What is Joule?") %]
[% IF turn %]
<p>There are many sites which let other users make you their friend. Few of them
have any sort of record of the fact, however. That's what <a href="/">Joule</a> was made for.
It began <a href="http://community.livejournal.com/lj_nifty/55392.html">way
back in August 2002</a> because <a
href="http://firinel.livejournal.com/profile">Firinel</a> asked for a way to keep track
of LiveJournal users, and it grew and grew until, well, here we are.</p>
[% END %]

[% header("sites", "What sites does it work on? / I would like it to work on <i>insert your favourite site here</i>") %]
[% IF turn %]
<p>This is a big question and it gets <a href="/sites">its own
page</a>. Hop over there and read all about it.</p>
[% END %]

[% header("profile", "I want to put a Joule box on my profile.") %]
[% IF turn %]
<p>Awesome. Here's <a href="/badges">the code to do that</a>.</p>
[% END %]

[% header("article", "I want to write an article about Joule.") %]
[% IF turn %]
<p>That's fine with me. See the end of this page for how to get in touch.</p>
[% END %]

[% header("tos", "Do you have a terms-of-service policy?") %]
[% IF turn %]
<p>Broadly, <a href="http://meta.wikimedia.org/wiki/Don't_be_a_dick">be
nice</a>. I may interpret this in various ways; contact me if you need
clarification.  In particular, please avoid writing data-mining bots;
<a href="#json">ask if you want a feed</a> (or just use RSS).</p>
[% END %]

[% header("privacy", "Do you have a privacy policy?") %]
[% IF turn %]
<p>Joule doesn't track any information that isn't available to the
general public.  That said, if you want to remove or change information,
we're fine with that as long as you can prove it's really you.  This
could involve posting a request in the actual journal or Twitter account,
or OpenID or similar.  I will run more of a consultation on this later.</p>

<p>Google would also like you to know that they use
cookies on this site to track the ads you read in order to try to show
you ads that won't bore you.</p>
[% END %]

[% header("advertise", "I want to advertise on Joule.") %]
[% IF turn %]
<p>Mostly, Joule uses <a href="http://adwords.google.com/">Google Adwords</a> for the ads.
I believe you can tell them you want to target Joule.
If you want to take over Joule for a whole week with
just your ads, contact us and we'll talk about it.
(See the foot of the page.)</p>

<p>There are no ads on the feeds, largely because we
don't fit well into Google's feed ads system.
If you want to run an unobtrusive custom ad for a week
or so there, we might consider it.  Again, contact us.
</p>
[% END %]

[% header("thousands", "<a href=\"http://identi.ca/notice/3519901\">What</a> about Twitter users who have tens of thousands of users?") %]
[% IF turn %]
<p>The current code can compare about a thousand users a second.
Obviously if you looked up someone like Neil Gaiman, who has
<a href="http://twitter.com/neilhimself/followers">300,000 followers</a>,
you'd have to wait five minutes.  This isn't really acceptable, so
we've turned off support for users with more than about 10,000 followers for now.
We have <a href="https://blueprints.launchpad.net/joule/+spec/snipsnap">a plan to fix this</a>,
but it will have to wait for the next version.</p>

<p>(If you have a pressing need for this and don't want to wait
for the next version, we can always run comparisons as a background
batch job every night so it'd work like any ordinary Twitter check.
See the foot of this page for information on contacting us.)</p>
[% END %]

[% header("dw", "What about Dreamwidth?") %]
[% IF turn %]
<p>I'm waiting for them to <a href="http://bugs.dwscoalition.org/show_bug.cgi?id=857">support the feed we need</a>.
When they add that, I'll add them straight away.</p>
[% END %]

[% header("change", "I want to adjust the history.  / I have changed my screen name. / I have deleted my journal and want the Joule data erased.") %]
[% IF turn %]
<p>If you can prove it's really you who owns the account, then sure, get in
touch. See the foot of this page.</p>
[% END %]

[% header("json", "I want a <a href=\"http://json.org\">JSON</a> feed of Joule's data.") %]
[% IF turn %]
<p>Nobody has asked for it yet. Ask and you might get.</p>
[% END %]

[% header("inversion", "You should make a version that lists who you have friended.") %]
[% IF turn %]
<p>I've been asked about this so often I'm setting up
<a href="http://community.livejournal.com/marnanel_joule/11757.html">a consultation about whether we should do it</a>.</p>
[% END %]

[% header("mobile", "You should make a cut-down version for mobiles.") %]
[% IF turn %]
<p>So I should.  <a href="http://m.joule.marnanel.org">Voil&agrave;!</a></p>
[% END %]

[% header("history", "<a href=\"http://community.livejournal.com/marnanel_joule/940.html\">Why</a> can't I see my account history back to when I got the account? I haven't used Joule before today.") %]
[% IF turn %]
<p>The sites that Joule reads from don't make history available; that's why Joule
is needed in the first place. Joule can only get data when you ask for it and
record it when you ask for it; it doesn't know about you before you first
visit Joule.</p>
[% END %]

[% header("multiplex", "I have a million different accounts! How can I keep track of all of them?") %]
[% IF turn %]
<p>I had the idea of adding a kind of Joule account called a "multiplex"
which would display information from, say, some Twitter accounts and some
LiveJournal accounts on the same page or feed.  Would that be useful to anyone?</p>
[% END %]

[% header("ljrss", "How can I keep track of Joule without coming back here every day?  I use LiveJournal.") %]
[% IF turn %]
<p>Make sure you're logged in, then go <a href="http://www.livejournal.com/syn/">here</a> and enter the address of
your RSS feed (see "What is the address of my feed?" below)
into the box at the foot of the page.  (<a href="http://community.livejournal.com/marnanel_joule/1089.html">More
detailed instructions are here.</a>)</p>
[% END %]

[% header("grrss", "How can I keep track of Joule without coming back here every day?  I use Google Reader.") %]
[% IF turn %]
<p>Click "Add a subscription" on the top left.  In the box it brings up, type
the address of your RSS feed (see "What is the address of my feed?" below).
That's all there is to it.</p>
[% END %]

[% header("blrss", "How can I keep track of Joule without coming back here every day? I use BlogLines.") %]
[% IF turn %]
<p>I will look into how to do this and get back to you.</p>
[% END %]

[% header("feed", "What is \"the address of my feed\"?") %]
[% IF turn %]
<p>It's
<code>http://joule.marnanel.org/rss/lj/<i>yourname</i></code> for LiveJournal, and
<code>http://joule.marnanel.org/rss/tw/<i>yourname</i></code> for Twitter.
But if you only want to be told when someone adds or removes you, rather than every day, use
<code>http://joule.marnanel.org/rssnoblanks/lj/<i>yourname</i></code> for LiveJournal and 
<code>http://joule.marnanel.org/rssnoblanks/tw/<i>yourname</i></code> for Twitter.
Your name is your login name, not your real name.</p>
[% END %]

[% header("translation", "I would like to read Joule in my own language.") %]
[% IF turn %]
<p>The languages we already support are listed at the top of
the page; there's also <a href="https://translations.launchpad.net/joule">a
separate site</a> where you can help translate Joule, as well as
hundreds of other programs.</p>
[% END %]

[% header("want", "I run a website and I would like Joule to track who friends my
users. / I use a website that Joule doesn't track and I would be happy if it
did.") %]
[% IF turn %]
<p>There are things you can do about this! Go and <a
href="/sites#new">read all about it</a>.</p>
[% END %]

[% header("wikipedia", "Why isn't Joule <a href=\"http://en.wikipedia.org/wiki/Joule_(disambiguation)\">mentioned</a> on Wikipedia?") %]
[% IF turn %]
<p>It would have to meet
<a href="http://en.wikipedia.org/wiki/Wikipedia:Notability_(web)#Criteria">the
notability criteria</a>, and I don't really think it does at present,
even after six years.  Maybe one day.</p>
[% END %]

[% header("who", "Who's behind all this, anyway?") %]
[% IF turn %]
<p>I'm Marnanel, otherwise known as <a href="http://marnanel.org">Thomas Thurman</a>. I've been
programming all my life. You can find out a bit more <a
href="http://marnanel.org/writing/about-me">about me here</a> (although it's a touch out of date now).
The layout of the site was designed by <a
href="http://firinel.org">Firinel</a> (who also has <a
href="http://myriadcolours.livejournal.com">an art journal</a> and <a
href="http://myriadcolours.com">a site where you can buy stuff</a>).
Joule is currently hosted by
<a href="http://www.redstair.org">Red Stair</a>. Previously, Joule
was hosted for many years by
<a href="http://pinkstuff.publication.org.uk">the Pinkstuff People</a>.</p>
[% END %]

[% header("moment", "What was your favourite Joule moment?") %]
[% IF turn %]
<p>Actually, the best thing has been the people. Almost everyone has been helpful
and supportive and the best users anyone could hope for. On top of all the
friendly comments and suggestions, and the random offers of dinner, there are some
particular highlights, such as Joule being described by Poppy Z. Brite as <a
href="http://docbrite.livejournal.com/47604.html">"the most pernicious
Livejournal plaything I've ever seen"</a>, getting an email about Joule in the same week
it was launched which ended by saying that "you seem like a cool and interesting person...
um, you are VERY hot too", and especially the person who
was responsible for $200 turning up when Joule had a hosting bill
crisis and I was out of work.</p>
[% END %]

[% header("name", "Why is it called Joule?") %]
[% IF turn %]
<p>(Actually, nobody's ever asked me that.) The script was a sequel to another
script called Kelvin which told you who had friended you but you hadn't
friended back, who you had friended but hadn't friended you back, and your
mutual friends. (There's no need for Kelvin any more because LJ does that for
you now.) And the reason <em>that</em> was given its name is that
<a href="http://en.wikipedia.org/wiki/James_Prescott_Joule">Joule</a>
and
<a href="http://en.wikipedia.org/wiki/William_Thomson%2C_1st_Baron_Kelvin">Kelvin</a>
were both physicists who studied heat (someone else made a clone of Joule called
"<a href="http://en.wikipedia.org/wiki/Johannes_Rydberg">Rydberg</a>" in 2005,
which lasted a few months), temperature is measured in degrees,
and the idea of friends and social networking is
intimately bound up with the concept of <a
href="http://en.wikipedia.org/wiki/Six_degrees_of_separation">six
<em>degrees</em> of separation</a>. Yes, it's a crappy pun; it was supposed
to be a codename which would have some new name made up before release, but we
never did. Such is the wild world of software.</p>
[% END %]

[% header("another", "I have another idea. / I have another question.") %]
[% IF turn %]
<p>Excellent! Either <a href="http://twitter.com/home?status=@marnanel+I+have+a+question:">tweet it to me</a>,
or post on the <a href="http://community.livejournal.com/marnanel_joule">LJ community</a>, or
just send an email to me (thomas -at- thurman -dot- org -dot- uk) and let me know.</p>
[% END %]

[% IF NOT turn %]</ul>[% END %]

[% END %]
</div>