body { margin: 0; background-color: #000000; color:#FF0000; position: absolute; left:0; right:0; top:0; bottom:0; }
#content {
	background-color: #FFFFFF;
	color: #000000;
	margin: 0 auto;
	width: 73%;
	border-width: 0 5px;
	border-color: #A18FD5;
	border-style: solid;
	padding: 0;
	text-align: left;
	font-family: "Times", serif;
	font-size: 14pt;
	min-height: 100%;
}
a:link, a:visited { color: #A18FD5; }
#text { padding: 0 10px; }
#poppy { float:right; width: 74px; height: 100px; background-image: url('/marnanel-rhes-jouleb-01'); }
#navigation { border-color: #000000; height: 18pt; background-color: #FFFFFF; clear: both; text-align: center; font-size: 14pt; }
#languages { float:right; background-color: #FFFFFF; font-size: 10pt; }
#footer { text-align:center; padding-top: 1em; font-size: 10pt; }
#navigation a { text-decoration: none; color: #000000; }
#languages a { text-decoration: none; color: #000000; }
.current { font-weight: 900; }
#ads { text-align:center; }
#sitename { border: 0; }
.userinfo { border: 0; }
.admin { text-align:right; font-size: 10pt; }
.ch { width: 100%; }
.user { font-weight: bold; font-style: normal; white-space: nowrap; }
h1 { float:left; width: 465px; height: 100px; font-size: 10pt; margin:0; }
h2 { font-size: 16pt; color: #6357FF; font-weight: bolder; margin-top: 1em; }
h3 { font-size: 14pt; color: #000000; font-weight: bold; }
th { background-color: #A18FD5; font-size: 12pt; }
td { font-size: 12pt; font-style: italic; }
th.date { background-color: #FFFF51; }
.odd { background-color: #FFFFD9; }
.credits { text-align: center; font-size: 10pt; }
form.name { text-align: center; font-size: 10pt; }
.gr { margin: 0 auto; }
.gr th { background-color: #FFFFD9; color: #888888; font-size: 9px; vertical-align: top; font-weight: normal; }
.gr th.r { color: #000000; } /* FIXME! */
.gr td { font-size: 9px; font-family: sans-serif; font-weight: bold; }
.gr td a { text-decoration: none; color: #000000; background-color: #FFFFFF; }
.tealdeer p { text-align: left; font-size: 14pt; }
.tealdeer li { font-size: 14pt; text-align: left; padding-left: 3em; list-style-position: inside; }
.tealdeer th { background-color: #FFFF51; }
.tealdeer td { font-style: normal; font-size: 14pt; text-align: left; }
