<span class="tealdeer">
<p>
<a href="/">Joule</a> can, in theory, track who has friended and unfriended you from any website that exists. However, in practice there are three things which have to be true in order to let us do so.

<table>
<tr><th>1: User accounts</th>
<td>The site must have user accounts, and the user accounts must be able to
add and remove one another from lists. (This is necessary for Joule to be
Joule. A site without users or without user lists would not be something Joule
could track.)</td></tr>
<tr><th>2: API</th>
<td>There must be a way for Joule to get the information out of the site
without having to know each user's password. A public API is a good way to do
this, but we'll accept <a href="http://en.wikipedia.org/wiki/Screen_scraping">screen scraping</a> (heck, that's the entire way Joule worked for a long while).</td></tr>
<tr><th>3: Permission</th>
<td>If there's a public API, we assume there's implicit permission; but
if we are asked not to serve data from a site, there's no way we'll
continue.  (See DeviantArt for an example of this.)</td></tr>
</table>

<p>Joule allocates a two-letter code to every site. Here's the information on
what sites it supports currently, and the codes where they exist.<br /></p>

<table>

<tr><th colspan="2">Sites that work</th></td>

<tr>
<th><a href="http://www.livejournal.com">LiveJournal</a> ("lj")</th>
<td>Working since 1.0.  Community support added in 3.5.</td>
</tr>

<tr>
<th><a href="http://twitter.com">Twitter</a> ("tw")</th>
<td>Working since 3.5.</td>
</tr>

<tr>
<th><a href="http://identi.ca">Identica</a> ("id")</th>
<td>Working since 3.5.</td>
</tr>

<tr>
<th><a href="http://delicious.com">Delicious</a> ("de")</th>
<td>Working since 3.0.</td>
</tr>

<tr><th colspan="2">Sites on the horizon</th></td>

<tr>
<th><a href="http://dreamwidth.org">Dreamwidth</a> ("dw")</th>
<td>Will come when <a href="http://bugs.dwscoalition.org/show_bug.cgi?id=857">this bug</a>
is fixed.</td>
</tr>

<tr>
<th>Other sites based on the LJ codebase
(deadjournal, commiejournal, scribbld, crazylife, insanejournal, journalfen...)</th>
<td>In each case we need them to implement fdata or something like it.
If you're a user of one of these sites, please let us know how to contact their
admin.  (Raising a bug is a good way to do it.)</td>
</tr>

<tr>
<th><a href="http://www.youtube.com">YouTube</a></i> ("yt")</th>
<td>Definitely a possibility; 
<a href="http://groups.google.com/group/youtube-api/wei/api-feature-requests">apparently
the API exists</a>.  Does anyone want this?</td>
</tr>

<tr><th colspan="2">Sites which aren't going anywhere</th></td>

<tr>
<th><a href="http://www.facebook.com">Facebook</a></th>
<td>Facebook <a href="http://community.livejournal.com/marnanel_joule/6493.html">have
told me</a> that Joule for Facebook won't break any rules, <em>providing</em>
that everyone you track is also signed up to Joule. So suppose there are two
users, Alice and Bob, and they both have the Joule application: Alice adds
Bob to her friends, and it will track that. However, Chloe is a Facebook
user who doesn't have the Joule application installed, and when Alice adds
Chloe, it would be against the rules for Joule to record the fact. I think
that if it works like this, it will be pretty useless; what do you folks think?</td>
</tr>

<tr>
<th><a href="http://www.myspace.com">MySpace</a></th>
<td>A lot of people have asked about MySpace. They provide no public API and so
there's apparently no way of getting the data out. If you fancy trying to find
out how this can be done, and letting me know, please go ahead; I suspect it
will be a bureaucratic nightmare, but I'm always willing to be proved
wrong.</td>
</tr>

<tr>
<th><a href="http://www.deviantart.com">DeviantArt</a></th>
<td>We've had a couple of requests for this one. It's entirely possible
technically, but they're not willing:
<blockquote>
<tt>From: Maureen W...<br />
Date: 27 Aug 2007<br />
<br />
Hi,<br />
<br />
I have spoken to one of the heads of our website and he has informed me this would be a no go.</tt></blockquote>

If you're one of their users and you'd like Joule to track the site enough
that you're willing to try to persuade them otherwise, feel free; otherwise
there's not much I can do.</td>
</tr>

<tr>
<th>Arbitrary offsite RSS feeds</th>
<td>A few people have asked whether Joule can track who is reading an RSS feed on
another site (say, who is reading the feed of your Flickr photos, as opposed
to who has you friended on Flickr). This isn't actually possible without
access to the server logs of the site that's hosting the RSS feed, and
even <em>then</em> it rather fails part (1) above, because the most you could
get to identify each user would be an IP address.</td>
</tr>

<tr><th colspan="2">Sites we'd love to add</th></td>

<tr id="new">
<th>Your site!</th>
<td>Contact me (thomas -at- thurman -dot- org -dot- uk) and tell me about your
API. A <a href="http://www.json.org">JSON</a> list (as <a href="http://del.icio.us/feeds/json/network/marnanel">used on del.icio.us</a>)
is ideal, but we can work with most things.
You might be happy to know that Joule <em>always</em> uses a User-Agent
containing "Joule", and <em>never</em> polls more often than once per day per
account.</td>
</tr>
</table>

<p>(You might want to go <a href="/faq">back to the main Joule documentation</a> now.)</p>

</div>
