<div class="tealdeer">
<h2>Joule for Twitter</h2>

<p>Twitter emails you when people add and remove you.
But Joule makes it easy to keep track of it all.</p>

<p>You can see the whole history of who's started and
stopped reading your tweets
<a href="http://joule.marnanel.org/chart/tw/marnanel_joule">in a chart</a>,
or if you're a more visual person,
<a href="http://joule.marnanel.org/graph/tw/marnanel_joule">in a graph</a>.
(And <a href="http://joule.marnanel.org/graph/lj/marnanel">here's a graph with
more information</a>, so you can see what it looks like after a month or so.)</p>

<p>If you use a service such as Google Reader, you can even
<a href="http://joule.marnanel.org/rss/tw/marnanel">subscribe to a feed of
your changes</a>.</p>

<p>The charts and graphs update once a day.  You can come back before then,
but they won't have updated.</p>

<p>There's <a href="/faq">a ton more information in the FAQ</a>.</p>

<p>Please <a href="http://twitter.com/home?status=is+using+http://joule.marnanel.org/tw+to+track+my+followers.+%23joule">tweet about us</a>,
and spread the word!</p>

</div>

