<script type="text/javascript"><!--
google_ad_client = "pub-3773406468555371";
[% IF strings.CURRENT=="de" %]
/* Joule-de */
google_ad_slot = "6963015458";
[% ELSIF strings.CURRENT=="ru" %]
/* Joule-ru */
google_ad_slot = "9094827613";
[% ELSIF strings.CURRENT=="he" %]
/* Joule-he */
google_ad_slot = "4597297766";
[% ELSE %]
/* Original Joule */
google_ad_slot = "6795279671";
[% END %]
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

