            content = '<table class="%s" summary="Changes in the fan list over time"><tr>\n' % (
                ['ch','gr'][graph])

            if graph:
                timescale = range(days[-1], days[0]+1)
                previous_month = 0
        
                for day in timescale:
                    date = time.gmtime(day*one_day)
                    repr = '%02d' % (date[2])

                    if date[1]!=previous_month:
                        repr = repr + time.strftime('<br>%b<br>%y', date)
                        previous_month = date[1]

                    content += '<th %swidth="%d">%s</th>' % (
                        ['', 'class = "r" '][day in days],
                        one_column,
                        repr)

                content += '</tr>'

                ranges = {}

                for day in days:
                    for direction in range(2):
                        for person in history[day][direction]:
                            if not ranges.has_key(person):
                                ranges[person] = {}

                            ranges[person][day] = direction
                
                while 1:
                    candidates = pick_a_line(ranges, 0, 0)
                    if candidates == []:
                        break
                    content += draw_line(ranges, days, candidates)
                    for candidate in candidates:
                        del ranges[candidate]

                content += '</table>\n'
            
            else:
                content += """<th>Datestamp</th><th>Friended by</th><th>Unfriended by</th></tr>\n"""

                for day in days:
                    then = history[day]

                    content += "<tr><th>%s</th><td>%s</td><td>%s</td></tr>\n" % (
                        time.strftime(time_format, time.gmtime(day*one_day)),
                        user_list(then[0]),
                        user_list(then[1]))

                content += "</table>"

