<a href="/"><img src="/static/joule/jk-madeby2.jpg" width="200"
height="35" alt="Made by Marnanel." style="border:0; float:left"></a><br>
<small>Brought to you by
<a href="http://www.myriadcolours.com/">Myriad Colours</a>.<br>
Hosted by <a href="http://www.mintpixels.com">Mint Pixels</a>:<br>
software and design with taste.
</small>
</div>

