<fb:header>[% IF user %]fans of [% user %] on [% sitename %], past and present[% ELSE %]joule - your friendly friend-of monitor[% END %] </fb:header>

[% IF NOT user %]
(no user)
[% INCLUDE html_front_page.tmpl %]
[% ELSIF partlock %]
[% INCLUDE partlock.tmpl %]
[% ELSIF lonely %]
[% INCLUDE lonely.tmpl %]
[% ELSIF virgin %]
[% INCLUDE html_virgin_page.tmpl %]
[% ELSIF graph %]
[% INCLUDE html_graph.tmpl %]
[% ELSE %]
[% INCLUDE html_chart.tmpl %]
[% END %]

<i>[%FOREACH note in notes%][% note %]<br>[% END %]</i><br>
[% motd %]

<p class="credits">
joule is by <a href="http://marnanel.org">Thomas Thurman</a> &middot; page designed by <a href="http://firinel.org">Firinel Thurman</a>
</p>

