I couldn't find any friends information for %s. This could be for one of
a whole bunch of reasons:
<ul><li>it's not a real LiveJournal account, <i>or</i></li>
<li>that account has no friends at present, and nobody on LiveJournal has friended
that account, <i>or</i></li>
<li>it's a community account, not a personal journal, <i>or</i></li>
<li>it's a special account (like %s), <i>or</i></li>
<li>LiveJournal is simply being glitchy, and pressing refresh in a few seconds' time
might cure the problem.</li></ul>""" % (
