<p style="text-align: center">
You haven't used Joule before today. Welcome!<br /><br />

Come back tomorrow and you'll see a list of who has friended
or unfriended you between now and then. Until then, here's the
list of people who currently have you friended:<br /><br />

[% SET nohiccup=1 %]
[% INCLUDE user_list.tmpl list=current_names %]
</p>
