[% IF mobile %]
[% FOR day IN days %]
<i>[% day.date %]</i>:
<b>+</b> [%= INCLUDE user_list.tmpl list=day.friended =%]
<b>-</b> [%= INCLUDE user_list.tmpl list=day.unfriended =%]
<br />
[% END %]
[% ELSE %]
<p>This is a chart of new followers of [% user %]
on [% sitename %] over time, and of people who have stopped following.
A new row will be added to this chart on every day
you return to this page.</p>
<table class="ch" summary="Changes in the fan list over time">
<tr><th>[%t_date%]</th><th>[%t_friended%]</th><th>[%t_unfriended%]</th></tr>
[% SET odd=1 %]
[% FOR day IN days %]
<tr[% IF odd %] class="odd"[% SET odd=0 %][% ELSE %][% SET odd=1 %][% END %]>
<th class="date">[% day.date %]</th>
<td>[%= INCLUDE user_list.tmpl list=day.friended =%]</td>
<td>[%= INCLUDE user_list.tmpl list=day.unfriended =%]</td>
</tr>
[% END %]
</table>
[% END %]
