<div style="text-align:center">
<p><strong>Joule</strong> is a way of keeping track of who's reading your stuff.</p>

<p>Lots of sites allow you to make a list of people you want to follow<br />
(sometimes called a friends list, or a watch list).<br />
Sometimes they also
let you see who has you on <em>their</em> friends list.<br />
But <strong>wouldn't it be
nifty if you could see when people start<br /> and stop reading you</strong>, like
<a href="/chart/lj/marnanel">this</a>?<br /> That's what Joule is for.</p>

<p>Joule has been around for six years and has tens of thousands of happy users.<br />
Join in by typing your username into the box above.</p>
</div>
