<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="[% strings.CURRENT %]" lang="[% strings.CURRENT %]"[% IF strings.CURRENT=="he" %] dir="rtl"[% END %]>
<head>
<title>[% IF user %][% strings.reporttitle %][% ELSE %][% strings.title %][% END %]</title>
[% IF not mobile %]<link rel="stylesheet" type="text/css" href="/rhes" />[% END %]
[% IF NOT graph AND noblanks %][% SET isnoblanks="noblanks" %][% ELSE %][% SET isnoblanks="" %][% END %]
[% IF user %]<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss[% isnoblanks %]/[% site %]/[% user %]" />[% END %]
<script type="text/javascript"><!--
function go(){document.getElementById('u').focus();}//--></script>
<link rel="shortcut icon" href="/favicon.ico" />
</head>
<body[% IF NOT user %] onload="go()"[% END %]><div id="content">
[% IF mobile %]<h1><a href="/"><img src="/marnanel-rhes-jouleb-01" alt="*joule*" width="74" height="100" style="float: right" /> </a></h1>
[% ELSE %]<h1><a href="/"><img id="sitename" src="/marnanel-rhes-joulea-01" alt="*joule*" width="465" height="100" /> </a></h1>[% END %]
<div id="poppy"></div>
<div id="languages">
[% FOREACH lang = strings.LANGS %]<a href="?lang=[% lang.code %]"[% IF lang.code == strings.CURRENT %] class="current"[% END %]>[% lang.name %]</a> &middot;
[% END %] <a href="http://community.livejournal.com/marnanel_joule/8360.html">more?</a>
</div>
<div id="navigation">
<a href="/faq">[% strings.faq %]</a> &middot;
<a href="https://launchpad.net/joule">[% strings.code %]</a> &middot;
[% IF user %]
[% IF graph %][% SET ischart="graph" %][% ELSE %][% SET ischart="chart" %][% END %]
[% IF limit %][% SET isfull="" %][% ELSE %][% SET isfull="full" %][% END %]
<a href="/[% IF graph %]chart[% ELSE %]graph[% END %][% isfull %][% IF graph %][% isnoblanks %][% END %]/[%site%]/[%user%]">[% IF graph %][% strings.chart %][% ELSE %][% strings.graph %][% END %]</a> &middot;
[% IF limit %]
<a href="/[% ischart %]full[% isnoblanks %]/[%site%]/[%user%]">[% strings.full %]</a> &middot;
[% ELSE %]
<a href="/[% ischart %][% isnoblanks %]/[%site%]/[%user%]">[% strings.lastn %]</a> &middot;
[% END %]
[% IF NOT graph %]
[% IF noblanks %]
<a href="/[% ischart %][% isfull %]/[%site%]/[%user%]">[% strings.withblanks %]</a> &middot;
[% ELSE %]
<a href="/[% ischart %][% isfull %]noblanks/[%site%]/[%user%]">[% strings.noblanks %]</a> &middot;
[% END %]
[% END %]
<a href="/rss[% isnoblanks %]/[%site%]/[% user %]">[% strings.feed %]</a> &middot;
[% ELSE %]
<a href="http://marnanel.org">marnanel</a> &middot;
[% END %]
<a href="http://community.livejournal.com/marnanel_joule/">[% strings.comm %]</a>
</div>
[% IF NOT noads %]<div id="ads">[% IF mobile %][% mobileads %][% ELSE %][% INCLUDE adsense1.tmpl %][% END %]</div>[% END %]

<form class="name" action="/" method="get">
<div id="text">
[% strings.showme %]
[% IF errormessage %]<b>[% errormessage %]</b>[% END %]
<p class="credits">
[% IF mobile %] Welcome to mobile Joule.  Feedback is welcome! (<a href="http://joule.marnanel.org">normal site</a>)[% ELSE %]New: mobile version of Joule at <a href="http://m.joule.marnanel.org">m.joule.marnanel.org</a>![% END %]
</p>

[% IF literalbody %]
[% literalbody %]
[% ELSIF NOT user %]
[% INCLUDE html_front_page.tmpl %]
[% ELSIF lonely %]
[% INCLUDE lonely.tmpl %]
[% ELSIF virgin %]
[% INCLUDE html_virgin_page.tmpl %]
[% ELSIF graph %]
[% INCLUDE html_graph.tmpl %]
[% ELSE %]
[% INCLUDE html_chart.tmpl %]
[% END %]

[% motd %]
<p class="credits">
[%strings.bymarn%] &middot; [%strings.byfin%]<br />
<a href="http://iww.org">[%strings.union%]</a> &middot; [%strings.hosted%] &middot;
[% IF user %][% strings.validrss %][% ELSE %][% strings.valid %][% END %]
[% IF strings.CURRENT != "en" %] <br /> [% strings.translator %] [% END %]
[%# INCLUDE daystats.tmpl %]
</p>

</div></form></div>

[% INCLUDE googletrack.tmpl %]
</body></html>
