{
 "user": "[% user %]",
 "sitename": "[% sitename %]",
 "url": "http://[% hostname %]/chart/[% site %]/[% user %]",
 "changes": [[% SET c=0 %][% FOREACH day IN days %][% IF c %],[% ELSE %][% SET c=1 %][% END %]
 {
   "date": "[% day.date %]",
   "gainsize": [% IF day.friended %][% day.friended.size %][% ELSE %]0[% END %],
   "losesize": [% IF day.unfriended %][% day.unfriended.size %][% ELSE %]0[% END %]
 }[% END %]
  ]
}
