{
 "user": "[% user %]",
 "sitename": "[% sitename %]",
 "url": "http://[% hostname %]/chart/[% site %]/[% user %]",
 "changes": [[% SET c=0 %][% FOREACH day IN days %][% IF c %],[% ELSE %][% SET c=1 %][% END %]
 {
   "date": "[% day.date %]",
   "gain": [%= INCLUDE json_list.tmpl list=day.friended =%],
   "lose": [%= INCLUDE json_list.tmpl list=day.unfriended =%],
 }[% END %]
  ]
}
