[%# This produces the equivalent of <lj user="...">. It takes one parameter, "name".
TODO: It's not valid HTML these days.
TODO: Need to find a generalised way of doing this for generalised sites.
%]
<a href="http://[% name %].livejournal.com/profile">
<img src="/static/joule/userinfo" WIDTH="17" HEIGHT="17"
ALIGN="MIDDLE" border="0" alt="~"></a><b><a 
href="http://[% name %].livejournal.com">[% name %]</a></b>
