[% IF site=="lj" %]<span class="user"><a href="http://[% name %].livejournal.com/profile"><img class="userinfo" src="http://[% hostname %]/userinfo" width="17" height="17" alt="~" /></a>[% END %]<a href="http://[% name %].livejournal.com">[% name %]</a></span>
