    footer = 'To keep up with Joule news and discussion, join the <span style="white-space: nowrap;"><a href="http://community.livejournal.com/marnanel_joule/profile"><img src="http://stat.livejournal.com/img/community.gif" alt="[info]" style="border: 0pt none ; vertical-align: bottom;" height="16" width="16"></a><a href="http://community.livejournal.com/marnanel_joule/"><b>marnanel_joule</b></a></span> community!'

