<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<div style="float:right;text-align:right">
<div style="float:right;text-align:right">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="paypal@myriadcolours.com">
<input type="hidden" name="item_name" value="Joule">
<input type="hidden" name="no_note" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="tax" value="0">
<input type="image" src="/static/joule/donate.png" width="62" height="31" border="0" name="submit" alt="Donate to keep Joule on the web"><br>
<a href="/"><img src="/static/joule/jk-madeby2.jpg" width="200"
