[% IF NOT list %]
[% t_none %]
[% ELSIF list.size > 30 && NOT nohiccup %]
Hiccup.
[% ELSE %]
[%= list.size =%]: [% FOREACH item IN list.sort %] [%= item | username =%][%= ", " IF not loop.last =%] [% END %]
[% END %]
